<p id="notice"><%= notice %></p>
<div id="show-form">
  <div class="row">
    <div class="small-8 columns">
  <h2>Title:</h2>
    <%= @post.title %>

  <h2>Body:</h2>
    <%= @post.body %>
    <br />
    <strong>By:
    <%= @post.author.email %></strong>
    <br /><br />

  <hr>

<% if policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= render "comments/form" %>



<footer class="row">
  <%= link_to 'Back to blog', posts_path %>
</footer>

